{% extends "cafe_dashboard/admin_base.html" %}
{% load static %}
{% block content %}

    <!-- ===== Orders Table ===== -->
     <section class="orders" id="orders">
        <h2>Customer Orders</h2>
        <form method="get" style="margin-bottom: 15px;" id="select_date">
          <input type="date" name="date" value="{{ selected_date }}">
          <button type="submit">Filter</button>
        </form>
        <table>
          <thead>
            <tr>
              <th>Order ID</th>
              <th>Name</th>
              <th>Phone</th>
              <th>Address</th>
              <th>Item</th>
              <th>Qty</th>
              <th>Price</th>
              <th>Total</th>
              <th>All Total</th>
              <th>Processed</th>
              <th>Phoned/Delivered</th>
            </tr>
          </thead>
          <tbody>
             {% for order in orders %}
               {% for item in order.items.all %}
               <tr>
                {% if forloop.first %}
                   <td rowspan="{{ order.items.count }}">{{ order.id }}</td>
                   <td rowspan="{{ order.items.count }}">{{ order.customer_name }}</td>
                   <td rowspan="{{ order.items.count }}">{{ order.phone }}</td>
                   <td rowspan="{{ order.items.count }}">{{ order.address|default:"—"}}</td>
                {% endif %}

                <td>{{ item.dish_name }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.price }} MMK</td>
                <td>{{ item.total_price }} MMK</td>

                {% if forloop.first %}
                  <td rowspan="{{ order.items.count }}">{{ order.total_amount }} MMK</td>
                  <td rowspan="{{ order.items.count }}"><input type="checkbox"></td>
                  <td rowspan="{{order.items.count}}"><input type="checkbox"></td>
                {% endif %}
               </tr>
               {% endfor %}
              {% endfor %}
              

              
          </tbody>
        </table>
     </section>
     
{% endblock %}

{% block extra_js %}
<script defer src="{% static 'Javascript/admin_order.js' %}"></script>
{% endblock %}