
{% extends "cafe_dashboard/admin_base.html" %}
{% load static %}
{% block content %}
    <!-- ===== Today's Special ====== -->
    <section class="special-dish" id="special-dish">
      <h2>Today's Special</h2>
      <form class="special-form" id="specialForm">
        <div class="form-top">
          <input id="dishName" type="text" placeholder = "Dish Name">
          <input type="file" id="folderUpload" webkitdirectory directory multiple>
        </div>        
        <button type="submit">Upload</button>
      </form>

      <div class="special-preview">
        <div class="preview-row">
          <button id="prevBtn">&lt;</button>
          <img id="previewImg" src="{% static 'images/special/special1.jpg' %}" alt="Dish Photo">
          <button id="nextBtn">&gt;</button>
        </div>
        
        <p id="previewName">Mohinga (Medium)</p>
      </div>
    </section>
{% endblock %}

{% block extra_js %}
<script defer src="{% static 'Javascript/admin.js' %}"></script>
{% endblock %}