

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Than Lwin Cafe</title>
  {% load static %}
  <!-- Link to your stylesheet -->
   <link rel="icon" type="image/png" href="{% static 'images/logo.png'%}"/>
  <link rel="stylesheet" href="{% static 'CSS/style.css'%}" />
  <link rel="stylesheet" href="{% static 'CSS/index.css'%}" />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Myanmar:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
  <header>
    <div class="logo-text">
         <img src="{% static 'images/logo.png' %}" alt="Than Lwin Cafe Logo" class="logo-img">
        THAN LWIN Cafe
    </div>
    <nav>
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'menu' %}">Menu</a>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'contact' %}">Contact</a>
    </nav>
  </header>

  <main>
    <div class="container">
        <div class="left">
            <img src="{% static 'images/logo.png' %}" class="logo" alt="Than Lwin Logo"/>
            <h2>Than Lwin Cafe Yangon's Style</h2>
        </div>

        <div class="right">
            <h2>"Today's Special Menu"</h2>
            {% if special %}
               <img 
                id="special-img"
                src="{{ special.image1.url}}"
                class="special-img"
                alt="Today's Special Dish"
                data-images = '[
                   {% if special.image1 %} "{{ special.image1.url }}",{% endif %}
                   {% if special.image2 %} "{{ special.image2.url }}",{% endif %}
                   {% if special.image3 %} "{{ special.image3.url }}"{% endif %}
                ]'               
               >
               <h3>{{special.burmese_name|default:special.name}}</h3>
               
                <button  id="special-btn" data-name="{{ special.name}}" data-price="{{ special.price }}">Order</button>
              
               
            {% else %}
              <h3>No Special Dish Today. Please Check Back Later!</h3>
            {% endif %}
            
        </div>
        
    </div>
    <a href="{%url 'menu' %}" class="menu-btn">Go to Menu Page</a>

    
  </main>

  <footer>
        <span>@2025 Created by Maddyson.</span>
  </footer>

  <!-- Link to your JavaScript (defer ensures it runs after HTML is parsed) -->
  <script>
    const MENU_URL = "{% url 'menu' %}";
  </script>
  <script src="{% static 'Javascript/index.js' %}" defer></script>
</body>
</html>
